* {
    font-family: calibri
}

html,
body {
    margin: 0;
    height: 100%;
    background: #e8ecf2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.formContainer {
	margin-top: 320px;
	margin-left: 300px;
}

.formContainer .inputContainer{
	display: flex;
}

.formContainer .inputContainer .urlBox {
	width: 400px;
	height: 26px;
	margin-right: 7px;
	padding: 3px;
}

