* {
    font-family: arial, sans-serif;
    color: #545454;
}

html,
body {
    margin: 0;
    height: 100%;
    background: #e8ecf2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.formContainer {
	margin-top: 20px;
	margin-left: 20px;
}

.formContainer .inputContainer{
	display: flex;
}

.formContainer .inputContainer .urlBox {
	width: 400px;
	height: 24px;
	margin-right: 7px;
}

.formContainer .inputContainer .submitButton {
	
}

.resultContainer {
	
}