* {
	font-family: calibri ;
}
html, body {
    margin: 0;
    height: 100%;
}
/*------------------------------------------------------------*/
/*main container for the entire page*/
.wrapper {
	display: flex;
	flex-direction: column;
}

/*headerDiv*/
.wrapper .headerDiv {
	display: flex;
	align-items: center;
}

	/*search bar and button*/
	.wrapper .headerDiv .searchDiv {
		margin-left: 25%;
		margin-top: 20px;
	}
	
		.wrapper .headerDiv .searchDiv form{
			margin: 10px 0 20px 0;
		}
			
			.headerDiv .searchDiv .searchBarDiv {
				height: 35px;
				border-radius: 5px;
				width: 80%;
				box-sizing: border-box;
				display: flex;
			}
				/*search box*/
				.searchBarDiv .searchBox {
					flex: 1;
					padding: 10px;
					font-size: 16px;
					width: 650px;
				}
				/*submit button*/
				.searchDiv .searchButton {
					height: 35px;
					font-size: 13px;
					font-weight: bold;
					margin-left: 10px;
					padding-right: 10px;
					padding-left: 10px;
					cursor: pointer;
				}


/*------------------------------------------------------------*/
/*results section*/
.resultsSection {
  flex: 1;
}
/*	indicator for number of results found*/
	.resultsSection .resultsCount{
		font-size: 13px;
		color: #6c737f;
		margin-left: 130px;
	}

/*	container for all the sites found*/
	.resultsSection .sitesDiv{
		margin-left: 130px;
	}

/*	container for each individual results*/
	.resultDiv {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}

		.resultDiv .title {
			margin: 5px;
		}

			.resultDiv .title a {
				color: #1155c1;
				text-decoration: none;
				font-weight: normal;
				font-size: 20px;
			}
			.resultDiv .title a:hover{
    			text-decoration: underline;
			}
	.resultDiv .url {
		color: #32990d;
		font-size: 14px;
	}
	.resultDiv .description{
		font-size: 12px;
		color: #6c737f;
	}



